.countries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.country-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: justify;
  padding: 0.5rem;
}

.country-flag {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.country-flag img {
  object-fit: cover;
  width: 80%;
  height: 80%;
}

.country-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  gap: 0.2rem;
  padding: 0.5rem;
}

.country-name {
  font-size: 14px;
  font-weight: bold;
  word-break: keep-all;
}

.country-info p {
  font-size: 15px;
  font-weight: 300;
  opacity: 0.8;
}

.details-btn {
  position: absolute;
  display: flex;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  text-align: center;
  top: 12%;
  right: 13%;
  transform: translate(50%, -50%);
}

.details-btn a {
  display: flex;
  color: white;
  text-decoration: none;
}

.details-btn a:hover {
  color: #4063a7;
}

.country-card:nth-child(4n - 6),
.country-card:nth-child(4n - 5) {
  background-color: #4063a7;
}

@media only screen and (max-width: 350px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 600px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 700px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }

  .country-card:nth-child(4n + 2),
  .country-card:nth-child(4n + 3) {
    background-color: #4063a7;
  }

  .country-card:nth-child(4n + 1),
  .country-card:nth-child(4n + 4) {
    background-color: #3f62a4;
  }

  .country-info {
    align-items: flex-start;
  }

  .country-name {
    width: auto;
  }
}
